# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Build files
build/
dist/

# Logs
logs/

# Downloaded AI models
models/*.task